<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quizzler</title>
  <link rel="stylesheet" href="/css/css.css">
  <style>
    .question-group{
      padding: 10px;
      margin: 10px;
      background-color: beige;
      border-radius: 15px;
    }
  </style>
</head>
<body>
  <main>
    <h1 class="main-title">Create A Quiz</h1>
    <!--input question and choices-->
    <div class="container">
      <div class="question-group question-input">
        <h3 class="edge centertxt ltr">Question:</h3>
        <input class="question" placeholder="Question?"/>
        <br>
        <button class="btn block" onclick="addChoice(this)">add choice</button>
        <div class="container choice-container choice-input"></div>
        <div class="hor"></div>
        <button class="btn block" onclick="addQuestion(this)">Add Question</button>
      </div>
    </div>
    <!--display questions and their choices-->
    <div class="container">
      <div class="submitted-question-group">
        <div class="question-group">
          <button onclick="removeQuestion(this)">remove</button>
          <p class="question">Question?</p>
          <div class="container choice-container">
            <p class="choice">choice</p>
            <p class="choice">choice</p>
            <p class="choice">choice</p>
          </div>
        </div>
      </div>
    </div>
    <div class="submit-quiz">
      <button>Submit Quiz</button>
    </div>
  </main>
  <script>
    
    const container = document.querySelector('div.choice-input');
    const submittedQuestionGroup = document.querySelector('div.submitted-question-group');

    function submitQuestions(elm){
      
    }

    function addQuestion(elm){
      try{
        const questionGroup = elm.parentNode;
        const questionElm = questionGroup.querySelector("input.question");
        const choiceGroup = questionGroup.querySelector("div.choice-input");
        const choices = choiceGroup.querySelectorAll("input.choice");

        var newQuestionGroup = `<div class="question-group"><button onclick="removeQuestion(this)">remove</button><p class="question">${questionElm.value}</p><div class="container choice-container"></div>`;
        submittedQuestionGroup.innerHTML += newQuestionGroup;

        QuestionGroupContainer = submittedQuestionGroup.querySelectorAll("div.question-group");
        newQuestionGroup = QuestionGroupContainer[QuestionGroupContainer.length-1]
        alert(submittedQuestionGroup)
        var choiceList = newQuestionGroup.querySelector("div.choice-container");

        choices.forEach(choice => {
          choiceElm = `<p class="choice">${choice.value}</p>`;
          choiceList.innerHTML += choiceElm;
        });

      }
      catch(error){
        document.querySelector("body").innerHTML = error;
      }
    }

    function removeQuestion(elm){
      submittedQuestionGroup.removeChild(elm.parentNode);
    }

    function addChoice(elm){
      const elm2 = '<div class="choice-group"><button onclick="removeChoice(this)">remove</button>choice <input name="choice" class="choice" onclick=""/><input name="correct" type="checkbox"/>correct?</div>';
      elm.parentNode.innerHTML += elm2;
    }

    function removeChoice(elm){
      elm.parentNode.parentNode.removeChild(elm.parentNode);
    }

    function sendReq(elm){
      try{
        elm.innerHTML = "sent"
        fetch("https://isterlab.com/test.php")
        .then((response) => response.json())
        .then((json) => elm.innerHTML = JSON.stringify(json));
      }
      catch(error){
        elm.innerHTML = error;
      }
    }

    
  </script>
</body>
</html>